numpy==1.26.4
joblib==1.4.2
scikit-learn==1.6.0
opencv-python==4.10.0.84
mediapipe==0.10.20
pip==24.3.1
attrs==24.3.0
pillow==11.0.0
cffi==1.17.1
scipy==1.14.1
threadpoolctl==3.5.0
matplotlib==3.10.0
jax==0.4.38